:root {
  --bg-blue: #0e091b;
  --bg-card-blue: #171228;
  --text-white: #f9f9f9;
  --text-gray: #aeaeae;
  --green: #04d361;
  --border-purple: #873eff;
  --font-primary: "IBM Plex Mono", monospace;
  --font-secondary: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-blue);
}

body::-webkit-scrollbar {
  width: 8px;               
}

body::-webkit-scrollbar-track {
  background: var(--text-gray);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-purple);    
  border-radius: 20px;       
  height: 10px;
}

.bannerPrincipal {
  margin: 6.5625rem 3.5rem;
}

.bannerPrincipal span {
  text-transform: uppercase;

  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--green);
  font-weight: 700;

  line-height: 1.9375rem;
  letter-spacing: 0.05em;
}

.bannerPrincipal h1 {
  margin: 0.75rem 0 2rem 0;

  font-family: var(--font-primary);
  color: var(--text-white);
  font-size: 4rem;
  line-height: 130%;
}

.bannerPrincipal p {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    color: var(--text-gray);
    line-height: 170%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 5.5rem 3.5rem;
}
